<!DOCTYPE html>
<html lang="{{.Site.Language.Lang }}" xml:lang="{{.Site.Language.Lang }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
{{ $screen := resources.Get "styles/screen.scss" | resources.ExecuteAsTemplate "style.screen.scss" . | toCSS | minify | fingerprint }}
<link rel="stylesheet"
	href="{{ $screen.Permalink }}"
	integrity="{{ $screen.Data.Integrity }}"
	media="screen" />
{{ $print := resources.Get "styles/print.scss" | resources.ExecuteAsTemplate "style.print.scss" . | toCSS | minify | fingerprint }}
<link rel="stylesheet"
	href="{{ $print.Permalink }}"
	integrity="{{ $print.Data.Integrity }}"
	media="print" />
{{ $script := resources.Get "scripts/main.js" | js.Build "script.js" | minify | fingerprint }}
<script type="text/javascript"
	src="{{ $script.Permalink }}"
	integrity="{{ $script.Data.Integrity }}">
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
{{ partial "seo.html" . }}
{{ block "head" . }}
{{ end }}
</head>
	<body>
		{{ partial "site-header.html" . }}
		{{ block "main" . }}
		{{ end }}
		{{ partial "site-footer.html" . }}
	</body>
</html>