.breadcrumbs {
	display: flex;
	flex-flow: row wrap;
	li {
		margin-inline-start: 1rem;
		margin-inline-end: 0.5rem;
		margin-block-end: 1rem;
		a {
			margin-inline-start: 0.5rem;
		}
		&::marker {
			content: "» ";
		}
	}
}