.site-footer {
	display: flex;
	align-items: center;
	padding: 1em 0;

	hr {display: none;}

	.container {
		display: flex;
		flex-flow: row wrap;
		gap: 1em;
	}

	.footer-nav .menu {
		display: flex;
		flex-flow: row wrap;
		gap: 1em;
		a:after {display: none;}
	}
	
	.social-nav {
		.menu {
			display: flex;
			gap: 1rem;
			a:after {
				display: none;
			}
		}
	}

	a[href='#top'] {
		margin-left: auto;
	}
	
	.copyright a {
		text-decoration: none;
		color: var(--ui-text-bold);
	}

}
