.api-method-parameter {
	&-required {
		text-transform: uppercase;
		font-size: 0.75em;
		font-weight: 500;
		color: var(--ui-error, red);
	}

	&-optional {
		text-transform: uppercase;
		font-size: 0.75em;
		font-weight: 500;
		color: var(--ui-text-muted);
	}

	&-nullable {
		text-transform: uppercase;
		font-size: 0.75em;
		font-weight: 500;
		color: var(--ui-error, red);
	}
}